// table header
$table-header-color: #3A5071;
$table-header-bg-color: #E5EEFB;
$table-header-font-size: 14px;

// table body
$table-body-color: #577198;
$table-body-bg-color: white;
$table-body-bg-color-even: #F1F6FC;
$table-body-font-size: 16px;

// table cell
$table-cell-padding: 17px;
$table-cell-border-color: #DAE0E9;

// pagination
$pagination-color: #272F3E;
$pagination-font-size: 16px;
$pagination-active-color: white;
$pagination-back-next-color: white;

// header
$header-title-color: white;

// footer
$footer-logo-color: white;
